<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css" />
<link rel="icon" href="weather_icon.png">
    <i class="fas fa-cloud-sun-rain"></i>
    <title>About</title>
  </head>
  <body>
    <div class="main-content">
     {{>header}}
    <img class="portrait" src="/mansi2.jpg" alt="Mansi">
    <p>This is about me</p>
    </div>
   
    {{>footer}}
    
    <script src="main.js"></script>
  </body>
</html>